.navbar {
  width: 100vw;
  padding: 20px 0px;
  background-color: #fff;
}
.main-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-navbar img {
  width: 170px;
  height: 55px;
}
.main-navbar ul {
  display: flex;
  align-items: center;
}
.main-navbar ul li {
  margin: 0px 10px;
  cursor: pointer;
}
.multilang-btn {
  position: relative;
  width: 100px;
  height: 40px;
}
.multilang-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: none;
  background-color: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s ease;
  border-radius: 5px;
  font-size: 16px;
  &:active {
    background-color: #e1e1e1;
  }
}
.multilang-button i {
  font-size: 13px;
  margin-left: 5px;
  transition: 0.2s ease;
}
.multilang-btn-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3px 60px #0000001a;
  position: absolute;
  top: 40px;
  width: 100px;
  background-color: #fff;
  border-radius: 5px;
  padding: 7px;
}
.multilang-btn-menu.active{
    display: flex;
}
.multilang-button.active i{
    transform: rotate(180deg);
}
.multilang-btn-menu button {
  height: 35px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s ease;
  &:hover {
    background-color: #6282c4;
    color: #fff;
  }
  &:active {
    background-color: #6283c4b4;
  }
}
