@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Play", sans-serif;
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 15px;
}
